.heroticFall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 3rem auto;
  width: 40%;
  position: relative;
  left: 12rem;
}

.f5image {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  grid-gap: 10px;
  /* border: 5px solid red; */
}

.f5image img {
  max-width: 300px;
  max-height: 300px;
}
