.item {
  width: 90vw;
  max-width: 570px;
  margin: 6rem auto;
  display: grid;
  gap: 3rem;
  border: solid;
}

h1 {
  font: inherit;
  font-size: medium;
}

h4 {
  font-size: small;
  margin: 2rem;
}

@media screen and (min-width: 768px) {
  .item {
    grid-template-columns: repeat(3, 1fr);
  }
}
