.banner-wrap .container {
  position: relative;
  display: table;
  overflow-y: hidden;
  padding: 50px 0;
  box-sizing: border-box;
  border: 1px solid black;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 960px;
  padding: 2rem 0rem;
  margin: 0 auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.image {
  width: auto;
  max-width: 100%;
}

img {
  width: 100%;
  height: auto;
}
